@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');

.Header {
    text-align: center;
    font-family: 'Vidaloka', serif;
    font-size: 4em;
    padding-top: 1.5em;
    color: white;
}

body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/HPOKFbR/dramatic-sky-dark-stormy-raining-clouds-time-lapse-footage-weather-forecast-climate-change-or-passing-of-time-background-footage_edn7g_eox__F0000.png");
}