@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');

.div-des {
    text-align: center;
    font-family: 'Vidaloka', serif;
    padding-top: 1.5em;
    color: white;
}

.div-title {
    text-align: center;
    font-family: 'Vidaloka', serif;
    font-size: 4em;
    padding-top: 1.5em;
    color: white;
}
body {
    background-image: url("https://wi-images.condecdn.net/image/doEYpG6Xd87/crop/2040/f/weather.jpg");
    background-size : cover

}