@import url('https://fonts.googleapis.com/css?family=Jua:400');

.Button {
    color : white;
}
a {
    color: white !important;
}

a:hover {
    /*color: red !important;*/
    opacity: 0.7 !important;
    text-decoration: none !important;
}

.placeholder {
    font-family: Jua !important;

}

select {
    font-family: Jua !important;
}