.Carousel {
    width: 100% !important;

    height: 100% !important;

    background-position: center !important;

    background-size: auto 100% !important;

    text-align: center;
}

.img{
    position : center;
}